<!doctype html>
<html>
<head>
	<title>Demo Page</title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/deleteGreekhouse.js" type="text/javascript"></script>
    <script src="/deleteCustomer.js" type="text/javascript"></script>
    <script src="/deleteOrders.js" type="text/javascript"></script>
    <script src="/deleteProducts.js" type="text/javascript"></script>
    <script src="/deleteProductsGreekhouses.js" type="text/javascript"></script>
    <script src="/deleteProductsOrders.js" type="text/javascript"></script>
</head>
<body>
	{{{body}}}
</body>
</html>
