<!DOCTYPE HTML>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="linkMenu.css" />
    </head>
    <div>
      <ul style="font-family:verdana" class = 'menu'>
        <nav role ="navigation">
          <li class = 'list'>
            <a href="/">Main Menu</a>
          </li>
          <li class = 'list'>
            <a href="/customers">Customers</a>
          </li>
          <li class = 'list'>
            <a href="/greekhouses">Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/orders">Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products_greekhouses">Products and Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/products_orders">Products and Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products">Products</a>
          </li>
        </nav>
      </ul>
    </div>
    <div class = "top">
    <body>
      <h1>Customers</h1>
        <form>
            <p>firstName</p>
            <input type="text">
            <p>lastName</p>
            <input type="text">
            <p>email</p>
            <input type="text">
            <p>ADD TO TABLE</p>
            <button class="add_to_table" type = "button" onclick = "">Add to Table</button>
        </form>
    </body>
    </div>
    <div class = "top2">
      <body>
        <h1>Table</h1>
        <table>
          <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Matthew</td>
            <td>Brayton</td>
            <td>MatthewBrayton@mail.mail</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Caden</td>
            <td>Burke</td>
            <td>Cadenburke@mail.mail</td>
          </tr>
        </table>
      </body>
      <br>
      <label for = del>Delete:</label>
      <input type = "text" id = "del">
      <button>Delete</button>
      <br>
      <br>
      <label for = search>Search:</label>
      <input type = "text" id = "search">
      <button>Search</button>
      <br>
      <br>
      <button>Update</button>
      <br><br>
      {{#each data}}
        <tr>
          <td>{{customerID}}</td>
          <td>{{firstName}}</td>
          <td>{{lastName}}</td>
          <td>{{email}}</td>
        </tr>
    </div >
</html>
