<!DOCTYPE HTML>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="linkMenu.css" />

    </head>
    <div>
      <ul style="font-family:verdana" class = 'menu'>
        <nav role ="navigation">
          <li class = 'list'>
            <a href="/">Main Menu</a>
          </li>
          <li class = 'list'>
            <a href="/customers">Customers</a>
          </li>
          <li class = 'list'>
            <a href="/greekhouses">Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/orders">Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products_greekhouses">Products and Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/products_orders">Products and Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products">Products</a>
          </li>
        </nav>
      </ul>
    </div>
    <div class = "top">
    <body>
      <h1>Greek Houses</h1>
        <form>
            <p>Product ID</p>
            <input type="text">
            <p>Letters</p>
            <input type="text">
            <p>Nickname</p>
            <input type="text">
            <p>ADD TO TABLE</p>
            <button class="add_to_table" type = "button" onclick = "">Add to Table</button>
        </form>
    </body>

    </div>
    <div class = "top2">
      <body>
        <h1>Table</h1>
        <table>
          <tr>
            <th>Product ID</th>
            <th>Letters</th>
            <th>Nickname</th>
          </tr>
          <tr>
            <td>44</td>
            <td>Alpha Tau Omega</td>
            <td>ATO</td>
          </tr>
        </table>
      </body>
      <br>
      <label for = del>Delete:</label>
      <input type = "text" id = "del">
      <button>Delete</button>
      <br>
      <br>
      <button>Update</button>
      <br><br>
      <p style="background-color:powderblue">{{results}}</p>
    </div>
</html>
