<!DOCTYPE HTML>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="linkMenu.css" />

    </head>
    <div>
      <ul style="font-family:verdana" class = 'menu'>
        <nav role ="navigation">
          <li class = 'list'>
            <a href="/">Main Menu</a>
          </li>
          <li class = 'list'>
            <a href="/customers">Customers</a>
          </li>
          <li class = 'list'>
            <a href="/greekhouses">Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/orders">Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products_greekhouses">Products and Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/products_orders">Products and Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products">Products</a>
          </li>
        </nav>
      </ul>
    </div>
    <div class = "top">
    <body>
      <h1>Greek Houses</h1>
        <form id ="addGreekhouse" action="/greekhouses" method="post">
            <p>Letters</p>
            <input type="text" name = "letters">
            <p>Nickname</p>
            <input type="text" name = "nickname">
            <p>ADD TO TABLE</p>
            <input type = "submit" value = "Submit">
        </form>
    </body>

    </div>
    <div class = "top2">
      <body>
        <table>
          <tr>
            <th>House ID</th>
            <th>Letters</th>
            <th>Nickname</th>
            <th>Delete</th>
          </tr>

          {{#each results}}
          <tr>
            <td>{{houseID}}</td>
            <td>{{letters}}</td>
            <td>{{nickname}}</td>
            <td><button onclick="deleteGreekhouse({{houseID}})">Delete</button></td>
          </tr>
          {{/each}}
          </table>
      </body>
      <br>
      <button>Update</button>
      <br><br>
    </div>
</html>
