<!DOCTYPE HTML>
<html>
    <head>
      <style>
        .top4{
          position: absolute;
          top: 40%;
          left: 20%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      </style>
      <link rel="stylesheet" type="text/css" href="linkMenu.css" />

    </head>
    <div>
      <ul style="font-family:verdana" class = 'menu'>
        <nav role ="navigation">
          <li class = 'list'>
            <a href="/">Main Menu</a>
          </li>
          <li class = 'list'>
            <a href="/customers">Customers</a>
          </li>
          <li class = 'list'>
            <a href="/greekhouses">Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/orders">Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products_greekhouses">Products and Greek Houses</a>
          </li>
          <li class = 'list'>
            <a href="/products_orders">Products and Orders</a>
          </li>
          <li class = 'list'>
            <a href="/products">Products</a>
          </li>
        </nav>
      </ul>
    </div>
    <div class = "top4">
    <body>
      <h1>Products and Greek Houses</h1>
        <form id ="addProductsGreekhouses" action="/products_greekhouses" method="post">
            <p>productID</p>
            <input type="text" name = "productID">
            <p>houseID</p>
            <input type="text" name = "houseID">
            <p>ADD TO TABLE</p>
            <button type = "submit" value = "Submit">Add to Table</button>
        </form>

    </body>
  </div>
    <div class = "top2">
      <body>
        <h1>Table</h1>
        <table>
          <tr>
            <th>Product ID</th>
            <th>House ID</th>
            <th>Delete</th>
          </tr>

          {{#each results}}
          <tr>
            <td>{{productID}}</td>
            <td>{{houseID}}</td>
            <td><button onclick="deleteProductsGreekhouses({{productID}}, {{houseID}})">Delete</button></td>
          </tr>
          {{/each}}
          </table>
      </body>
      <br>
      <br>
      <label for = search>Search:</label>
      <input type = "text" id = "search">
      <button>Search</button>
      <br>
      <br>
      <button>Update</button>
      </body>
    </div>
</html>
